 * {
    box-sizing: border-box;
 }

 html {
    height: 100vh;
 }

 body {
    min-height: 100px;
    margin:0;
    background-color: rgb(70, 172, 223);
 }

 .header {
    background-color: blanchedalmond;
    padding:24;
 }

 .header__page-title {
    color:#1e1616;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    margin:0;
    text-align: center;
 }

.git-commands {
    margin:24;
    display:grid;
    grid-template: repeat(6.1fr) / 1 3fr;
 
}
.git__commends {
    background-color: aquamarine;
    padding:16px;
    font-size: 1rem;


}
.git-commends__effect {
    background-color: rgb(58, 35, 174);
    padding:16px;
    font-size: 1rem;;
    
}