 * {
    box-sizing: border-box;
 }

 html {
    height: 100vh;
 }

 body {
    min-height: 100px;
    margin:0;
    background-color: rgb(70, 172, 223);
 }

 .header {
    background-color: blanchedalmond;
    padding: 24px;
 }

 .header__page-title {
    color:#1e1616;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    margin:0;
    text-align: center;
    text-transform: uppercase;
 }

 .header__sub-title {
   font-size: 2.2rem;
   margin: 8px;
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

.git-commands {
    margin: 24px;
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr 3fr;
    gap: 16px;
}

.git-commands__command {
    background-color: rgb(175, 214, 175);
    padding:16px;
    font-size: 1rem;
}

.git-commands__effect {
    background-color: rgb(58, 35, 174);
    padding: 16px;
    font-size: 1.5rem;
    color: #fff;
}